* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid: 
        "header header header" 
        "header2 aside aside" 
        "content aside aside" 
        "footer footer footer";
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: #2F4F4F;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.header h1 {
    margin-bottom: 10px;
}

.header nav a {
    color: #f0f0f0;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.header nav a:hover {
    text-decoration: underline;
}

.header2 {
    grid-area: header2;
    background-color: #f5b5b5;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.profile {
    display: flex;
    gap: 10px;
}

.img1 {
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.content {
    grid-area: content;
    padding: 20px;
    background-color: #eb9d9d;
    border-radius: 8px;
}

.about {
    grid-area: content;
    background-color: #f5b5b5;
    padding: 20px;
    border-radius: 8px;
}

aside {
    border-radius: 8px;
    grid-area: aside;
    padding: 20px;
    background-color: #acd896;
    text-align: center;
    margin: 5px;
}

aside > form {
    background-color: #7acece;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.footer {
    grid-area: footer;
    background-color: #2F4F4F;
    color: white;
    padding: 10px;
    text-align: center;
}